.fixed{
    position: fixed;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}


.flex{
    display: flex;
}
.flex-row{
    flex-direction: row;
}
.flex-colunm{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
.align-center{
    align-items: center;
}



.navbar-dark{
    background-color: #000; 
}
header{
    .menu-header{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #545c64;
        color: #fff;   
    }
}
main {
    position: absolute;
    overflow: auto;
    top: 5.5rem;
    bottom: 2.5rem;
}