.fixed{
    position: fixed;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.flex{
    display: flex;
}
.flex-row{
    flex-direction: row;
}
.flex-colunm{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
.align-center{
    align-items: center;
}
.b-dark{
    background-color: #000;
}
.b-white{
    background-color: #fff;
}
.b-red{
    background-color: #ff0000;
}
.b-orange{
    background-color: #ffa500;
}
.b-yellow{
    background-color: #ffff00;
}
.b-green{
    background-color: #008000;
}
.b-cyan{
    background-color: #00ffff;
}
.b-blue{
    background-color: #0000ff;
}
.b-purple{
    background-color: #800080;
}
.color-dark{
    color: #000;
}
.color-white{
    color: #fff;
}
.color-red{
    color: #ff0000;
}
.color-orange{
    color: #ffa500;
}
.color-yellow{
    color: #ffff00;
}
.color-green{
    color: #008000;
}
.color-cyan{
    color: #00ffff;
}
.color-blue{
    color: #0000ff;
}
.color-purple{
    color: #800080;
}

header{
    padding-left: 1rem;
    padding-right: 1rem;
}
main {
    overflow: auto;
    top: 5.5rem;
    bottom: 2.5rem;
}
footer{
    width: 100%;
    bottom: 0.1rem;
    height: 3rem;
}
.user-info{
    width: 20%;
}
.about{
    width: 20%;
}